In [1]:
try:
    passes += 1
except NameError:
    %cd ..
    passes = 1

c:\Users\susanne\git\binarybeech

In [2]:
import pandas as pd
import binarybeech.binarybeech as bb
import logging

logging.basicConfig(level=logging.INFO)

In [3]:
adult_train = pd.read_csv("data/adult_data.csv", header=None)
adult_test = pd.read_csv("data/adult_test.csv", skiprows=1, header=None)

In [4]:
c = bb.CART(df=adult_train, y_name=14, max_depth=4, method="classification")

In [5]:
c.train()
# c.create_tree()

INFO:binarybeech.binarybeech:beta_best: 0.0024428746506979936

In [6]:
c.validate()

{'precision': array([0.95044498, 0.40900395]),
 'recall': array([0.83525899, 0.72360108]),
 'F-score': 0.7058737919043865,
 'accuracy': 0.8200608089432143}

In [7]:
import binarybeech.visualize as viz

viz.print_tree(c.tree)

7 in ['Not-in-family', 'Own-child', 'Other-relative', 'Unmarried']
├── False:3 in ['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th', 'Assoc-acdm', 'Assoc-voc', 'HS-grad', 'Preschool', 'Some-college']
│   ├── False:>50K
│   └── True: <=50K
└── True: <=50K

In [8]:
adult_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
1,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
2,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
3,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
4,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16275,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
16276,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K
16277,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
16278,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
16279,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [9]:
c.validate(adult_test)

{'precision': array([0.9500563 , 0.40691628]),
 'recall': array([0.83815808, 0.71591949]),
 'F-score': 0.7047526781171909,
 'accuracy': 0.8217444717444717}

In [10]:
c.dmgr.attribute_handlers

{14: <binarybeech.attributehandler.DichotomousAttributeHandler at 0x23f4c1ecf70>,
 0: <binarybeech.attributehandler.IntervalAttributeHandler at 0x23f4c1ece20>,
 1: <binarybeech.attributehandler.HighCardinalityNominalAttributeHandler at 0x23f4c1ecfa0>,
 2: <binarybeech.attributehandler.IntervalAttributeHandler at 0x23f4c1ecd60>,
 3: <binarybeech.attributehandler.HighCardinalityNominalAttributeHandler at 0x23f4c1ec760>,
 4: <binarybeech.attributehandler.IntervalAttributeHandler at 0x23f4c1ecf10>,
 5: <binarybeech.attributehandler.HighCardinalityNominalAttributeHandler at 0x23f4c1ec4c0>,
 6: <binarybeech.attributehandler.HighCardinalityNominalAttributeHandler at 0x23f4c1ecc40>,
 7: <binarybeech.attributehandler.HighCardinalityNominalAttributeHandler at 0x23f4c1ec430>,
 8: <binarybeech.attributehandler.NominalAttributeHandler at 0x23f4c1ec040>,
 9: <binarybeech.attributehandler.DichotomousAttributeHandler at 0x23f4c1eceb0>,
 10: <binarybeech.attributehandler.IntervalAttributeHandler at 0x23f4c1d4fa0>,
 11: <binarybeech.attributehandler.IntervalAttributeHandler at 0x23f4c1d4be0>,
 12: <binarybeech.attributehandler.IntervalAttributeHandler at 0x23f4c1d4d90>,
 13: <binarybeech.attributehandler.HighCardinalityNominalAttributeHandler at 0x23f4c1d4bb0>}